.cstm-btn {
	height: 3.3em;
	width: 8em;
	margin: 1em 0 1em 0;
	background: rgb(255,255,255);
	border: 2px solid rgb(18,95,136);
	border-radius: .2em;
	color: rgb(18,95,136);
	font-family: 'Cantarell', sans-serif;
}

.cstm-btn:hover {
	background: rgb(18,95,136);
	color: rgb(255,255,255);
	/* opacity: .8; */
}

.payment {
	background: white;
	border: 3px solid rgb(73,108,137);
	color: black;
}

.payment:hover {
	background: rgb(73,108,137);
	color: white;
	opacity: 1;
}

.file-select {
	display: inline-block;
}