.navbar {
	background-color: rgb(255,255,255);
	border-bottom: 1px solid rgb(236,236,236);
	height: 36px;
}

.navbar ul {
	list-style-type: none;
}

.navbar-left {
	margin-top: 5px;
	margin-left: 40px;
}

.navbar-right {
	font-size: 1.2em;
	line-height: 50px;
}

.navbar-nav {
	color: rgb(51,51,51);
	margin: 0px 40px 0px 40px;
}

img {
	width: 120px;
	height: auto;
}