@import "header";
@import "banner";
@import "companies";
@import "opportunities-page";
@import "auth";

.body {
	font-family: 'Cantarell', sans-serif;
}

.container-fluid {
	margin: 0 auto;
	width: 100%;
	padding: 0px;
}