@import "./header";
@import "./banner";
@import "./opportunities";
@import "./opportunities-page";
@import "./auth";
@import "./payment-form";
@import "./buttons";
@import "./evaluation";

.body {
	font-family: 'Cantarell', sans-serif;
	background: rgb(248,248,248);
	overflow-x: hidden;
}

.home {
	text-align: center;
	margin-top: 100px;
}

.home h1 {
	color: rgb(85,95,97);
}