@import "header";
@import "banner";
@import "companies";

.html {
	height: 100%;
}

.body {
	height: 100%;
	min-width: 1000px;
	font-family: 'Cantarell', sans-serif;
}

.home {
	color: blue;
}

.companies-container {
	color: black;
}

button {
	height: 5em;
	width: 5em;
	background: white;
	border: solid black .1em;
}

button:hover {
	background: rgb(72,145,115);
	border: green;
	color: white;
}